<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script type="text/javascript" src="{{static_url('js/jquery-3.4.1.js')}}" ></script>
<script type="text/javascript" src="{{static_url('js/allfunction.js')}}"></script>
<script type="text/javascript">
    function login() {
        result = send_request('user.login','account', 'password');
        console.log(result);
        $('#show').html(result.data.msg);
        if (result.status!=0){
            $('#show').css({'color':'red'})
        }else{
            alert("登陆成功");
            window.location.href = '/'
        }
    }
</script>
<body>
    <h2 style="color:red">欢迎登陆</h2><p id="show"></p>
    <p>账号 : <input type="text" name="account"></p>
    <p>密码 : <input type="password" name="password"></p>
    <input type="submit" value="登陆" onclick="login()">
    <a href="/template/?template=register_user.html">注册</a>
</body>
</html>